[init]
    defaultBranch = main
[core]
    compression = 9
    editor = nvim
    pager = less -XF
    autocrlf = input
[user]
    name = Diego Ripley
    email = diego@diegoripley.ca
[status]
    short = true
[color]
    ui = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
